.wrapper{
    width:90vw;
    background-color: #f2f2f2;
    padding:20px;
    column-count: 4;
    margin: 0 auto
}

.box{
display: inline-block;
background-color: #666;
width:100%;
height:200px;
margin: 10px;
border-radius:5px
}

img{
    width:100%;
    height:200px;
    visibility: hidden;
}

.show{
    visibility: visible;
}
